/* Alyssa Allred April 16, 2022*/

.homecenter{
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:normal;
    
}

.middlecenter{
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font-weight:normal;
    background-color: rgb(170, 143, 170);
    color:white;
}


.clickhere {
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}


.resume {
    font-family:Arial, Helvetica, sans-serif;

}

.center{
    width: 50%;
    margin: auto;
    display: block;
}

.centertext{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
}

.linkcolor{
    color: #938ca7;
    text-decoration: underline;
    font-weight:bold;
}

.tableau{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;

}

.tableauheader{
    width:100%;
    height:80px;
    display:block;
    background-color: rgb(167, 139, 167);
}

.tableauinnerheader{
    width:1000px;
    height:100%;
    display:block;
    margin: 0 auto;

}

.mywebsitecontainer{
    height:100%;
    display: table;
    float: left;
}

.mywebsitecontainer{
    color:white;
    height:100%;
    display:table-cell;
    vertical-align: middle;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px

}

.tableaunavigation{
    float:right;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    
}


.tableaunavigation li{
    list-style-type: none;
    margin:0;
    padding:0;
}

.tableaubody{
    background-color: rgb(200, 193, 204);
}

.figcaption{
    text-align:center;
    color:rgb(100, 96, 100);
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
}

.california{
    height:30x;
    display:flex;
    align-items:center;
    justify-content:center;
    color:rgb(116, 104, 116);
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    
}

.aboutanchor{
    font-size:22px;
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}